In [17]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [19]:
!pwd

/Users/Home/galvanize/capstone1/src

In [20]:
for filename in os.listdir('/Users/Home/galvanize/capstone1/src'):
    print(filename)

variables.txt
.DS_Store
soccer_data_exploration.ipynb
.ipynb_checkpoints
brainstorm.txt

In [6]:

import json
import pandas as pd

with open('../data/competitions.json') as data_file:    
    data = json.load(data_file)
competitions_df = pd.json_normalize(data, sep = "_")

In [7]:
competitions_df.head()

,competition_id,season_id,country_name,competition_name,competition_gender,season_name,match_updated,match_available
0,16,4,Europe,Champions League,male,2018/2019,2020-07-29T05:00,2020-07-29T05:00
1,16,1,Europe,Champions League,male,2017/2018,2020-07-29T05:00,2020-07-29T05:00
2,16,2,Europe,Champions League,male,2016/2017,2020-08-26T12:33:15.869622,2020-07-29T05:00
3,16,27,Europe,Champions League,male,2015/2016,2020-08-26T12:33:15.869622,2020-07-29T05:00
4,16,26,Europe,Champions League,male,2014/2015,2020-08-26T12:33:15.869622,2020-07-29T05:00

In [8]:
competitions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   competition_id      37 non-null     int64
 1   season_id           37 non-null     int64
 2   country_name        37 non-null     object
 3   competition_name    37 non-null     object
 4   competition_gender  37 non-null     object
 5   season_name         37 non-null     object
 6   match_updated       37 non-null     object
 7   match_available     37 non-null     object
dtypes: int64(2), object(6)
memory usage: 2.4+ KB

In [9]:
with open('../data/events/15946.json') as data_file:    
    data = json.load(data_file)
event15946_df = pd.json_normalize(data, sep = "_")

In [10]:
event15946_df.head()

,id,index,period,timestamp,minute,second,possession,duration,type_id,type_name,...,substitution_outcome_name,substitution_replacement_id,substitution_replacement_name,pass_cut_back,shot_one_on_one,foul_committed_advantage,foul_won_advantage,foul_committed_type_id,foul_committed_type_name,pass_goal_assist
0,ce508a95-38d3-4248-a50e-dc8d7e23230c,1,1,00:00:00.000,0,0,1,0.000,35,Starting XI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,39abd1c2-2575-41be-ae79-3e936eead529,2,1,00:00:00.000,0,0,1,0.000,35,Starting XI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1148e967-380f-421f-97f0-d0c820c72984,3,1,00:00:00.000,0,0,1,0.000,18,Half Start,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7cf6876d-7c50-4d64-b999-e2a039641c81,4,1,00:00:00.000,0,0,1,0.000,18,Half Start,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,34208ade-2af4-45c3-970e-655937cad938,5,1,00:00:00.098,0,0,2,1.909,30,Pass,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
event15946_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4002 entries, 0 to 4001
Columns: 105 entries, id to pass_goal_assist
dtypes: float64(32), int64(9), object(64)
memory usage: 3.2+ MB

In [12]:
with open('../data/lineups/15946.json') as data_file:    
    data = json.load(data_file)
lineup15946_df = pd.json_normalize(data, sep = "_")

In [13]:
lineup15946_df.head()

,team_id,team_name,lineup
0,217,Barcelona,"[{'player_id': 3109, 'player_name': 'Malcom Fi..."
1,206,Deportivo Alavés,"[{'player_id': 6566, 'player_name': 'Borja Gon..."

In [14]:
lineup15946_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   team_id    2 non-null      int64
 1   team_name  2 non-null      object
 2   lineup     2 non-null      object
dtypes: int64(1), object(2)
memory usage: 176.0+ bytes

In [15]:
with open('../data/matches/15946.json') as data_file:    
    data = json.load(data_file)
match15946_df = pd.json_normalize(data, sep = "_")
#need to determine what league and season i am in first

FileNotFoundError: [Errno 2] No such file or directory: '../data/matches/15946.json'

In [ ]:
for filename in os.listdir('../data/events'):
    with open(f'../data/matches/{filename}') as data_file:    
        data = json.load(data_file)
    match15946_df = pd.json_normalize(data, sep = "_")

In [24]:
def json_folder_pdreader(json_path):
    for filename in os.listdir(json_path):
        with open(json_path + '/' + filename) as data_file:    
            data = json.load(data_file)
        filename = pd.json_normalize(data, sep = "_")
    return filename

In [ ]:
json_folder_pdreader('../data/events')